/*add code here*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700&display=swap");

body { font-family:  'Poppins', sans-serif; font-size: 16px; color: #555; margin:0; padding:0px }
#page{max-width: 1200px; margin: 0 auto; position: relative;}


.current{
    color: rgb(232, 81, 107);
}
.logo{
    width: 144.5px; 
    height: 49px;
}
h2{
    font-size: 30pt;
}
img{
    border-radius: 12px;
}
.horus{
    color: rgb(81, 232, 207);
    font-size: 30pt;
}
.container1{
    position: relative;
    top:200px;
    left: 100px;
    width: 600px;
    height: auto;
}
.container2{
    position: relative;
    top: 0px;
    left: 100px;
    height: auto;
    width: 1300px;
}
.container3{
    position: relative;
    top:50px;
    left: 100px;
    height: 512px;
    width: 1300px
}
.container4{
    position: relative;
    top: 150px;
    left: 100px;
    height: 512px;
    width: 1300px
}
.container5{
    position: relative;
    top: 250px;
    left: 100px;
    height: 512px;
    width: 1300px
}
.container6{
    position: relative;
    top: 350px;
    left: 100px;
    height: 512px;
    width: 1300px
}
.container7{
    position: relative;
    top: 400px;
    left: 100px;
    height: auto;
    width: 1300px
}
.container8{
    position: relative;
    top: 400px;
    left: 360px;
    height: auto;
    width: 1130px;
}
label{
    position: relative;
    left:15px;
}
input{
    border-radius: 12px;
    background-color: white;
    color: rgb(232, 81, 107);
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    overflow: hidden;
}
input[type=text]
{
    width: 30%;
    outline: none;
}
input[type=text]:focus{
    border: 6px solid ;
}
input[type=email]{
    width: 30%;
    
}
input[type=email]:focus{
    border: 6px solid ;
    outline: none;
}
input[type=button]{
    position: relative;
    left: 290px;
}
textarea{
    width: 690px;
    height: 250px;
    border-radius: 12px;
    background-color: white;
    color: rgb(232, 81, 107);
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    word-wrap: break-word;
}
textarea:focus{
    border: 6px solid ;
    outline: none;
}
::placeholder{
    font-family:  'Poppins', sans-serif; font-size: 16px;
}
.img{
    transition-duration: 1s;
}
.img:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    color: rgb(144, 143, 148);

}
input:required{
    background-image: url(../Images/req.jpg);
    background-size: 30%;
    background-position-y: center;
    background-position-x: right;
    background: repeat-y;
}
iframe{
    transition-duration: 1s;
}
iframe:hover{
    border: 6px solid ;
    outline: none;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    color: rgb(144, 143, 148);
}
.button {
    background-color:rgb(232, 81, 107);
    border: none;
    border-radius: 20px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: inherit;
    display: inline-block;
    font-size: 16px;
    transition-duration: 1s;
  }
  .button:hover{
    background-color: rgb(81, 232, 207);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    color: rgb(144, 143, 148);   
  }
 @media screen and (max-width: auto) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
  
 