/*add code here*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700&display=swap");

body { font-family:  'Poppins', sans-serif; font-size: 16px; color: #555; margin:0; padding:0px }
#page{max-width: 1200px; margin: 0 auto; position: relative;}
* {
    box-sizing: border-box;
}

html,
body,
#container {
    height: 100%;
}
.logo{
    width: 144.5px; 
    height: 49px;
}
body {
    margin: 0;
    padding: 0;
    font-family: helvetica, arial, sans-serif;
}

#container .feed-heading {
    height: 60px;
    padding: 1em 0 0 1em;
    margin: 0;
}


#feedColumn {
    width: 30%;
    float: left;
    padding: 1em;
}

#feedSelector {
    top: 1em;
    left: 1em;
    background-color: #fff;
}

.child-prop,
.feed-name,
.feed-date {
    text-transform: capitalize;
}

.feed-date {
    width: 50%;
    border-bottom: 1px solid #999;
    margin: 2em 0em 1em 0em;
    padding-bottom: 0.2em;
    font-weight: bold;
}

.feed-name {
    background-color:rgb(232, 81, 107);
    border: none;
    border-radius: 20px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: inherit;
    display: inline-block;
    font-size: 16px;
    transition-duration: 1s;
}

.feed-name:hover {
    background-color: rgb(81, 232, 207);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    color: rgb(144, 143, 148);   
}

.child-prop {
    display: inline-block;
    margin: 0 0 0.5em 0;
}
#map {
    height: 70%;
    width: 70%;
}
a{
    color: black;
    text-decoration: none;
}
h2{
    text-align: center;
    color: rgb(232, 81, 107);
}
p{
    color: black;
}
.iframe{
    border-radius: 12px;
    transition-duration: 1s;
}
.iframe:hover{
    border: 0px solid ;
    outline: none;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    color: rgb(144, 143, 148);
}